.g_nav {
  width: 100%;
  height: 10px;
  background-color: red;
}

.g_bd {
  min-height: 800px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
  padding: 40px;
}

.g_wrap {
  width: 100%;
  min-height: 800px;
  height: auto;

}

.search-input {
  width: 100%;
  height: 40px;
  margin: 0 auto;
}

.search-input-box {
  width: 420px;
  height: 40px;
  margin: 0 auto;
}

.search-input-box input {
  width: 80%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input-box button {
  width: 10%;
  height: 39px;
  background-color: #eeecec;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.g_wrap .alert {
  margin: 20px auto;
  width: 400px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(58, 93, 5);
  font-family: "微软雅黑";
  background-color: greenyellow;
  opacity: 0;
  transition: opacity 0.5s;
  /* 添加过渡效果 */
}

.g_wrap .alert.show {
  opacity: 1;
}

.search-result {
  margin-top: 20px;
  width: 100%;
  height: 660px;
}

.search-result-title {
  width: 100%;
  height: 40px;
  background-color: #eeecec;
  cursor: pointer;
}

.search-result-title ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 39px;
  border: 1px solid #ccc;
}

.search-result-list {
  margin-top: 10px;
  width: 100%;
  height: 560px;
}

.search-result-list ul li {
  width: 100%;
  height: 40px;
  display: flex;
  border: 1px solid #e1e1e1;
  background: #fff;
  font-size: 14px;
  color: #333;
  font-family: "微软雅黑";
}

.search-result-list ul li:hover {
  background: #e0dfdf;
}

.search-result-list ul li .name {
  display: flex;
  width: 50%;
  padding-left: 10px;
  line-height: 40px;
}

.search-result-list ul li .name .num {
  display: none;
}

.search-result-list ul li .name .url {
  display: none;
}

.search-result-list ul li .name .musicPic {
  display: none;
}

.search-result-list ul li .name .btn1 {
  margin-top: 11px;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background: url('../images/main_sprite.png') no-repeat;
}

.search-result-list ul li .name .btn1.play1 {
  background-position: -267px -268px;
}

.search-result-list ul li .name .btn1.play1:hover {
  background-position: -267px -288px;
}

.search-result-list ul li .name .title {
  flex: 1;
}

.search-result-list ul li .name .operation {
  display: none;
  align-items: center;
  width: 140px;

}

.search-result-list ul li .name:hover .operation {
  display: flex;
}

.search-result-list ul li .name .operation .btn {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background: url('../images/title_sprite.png') no-repeat;
}

.search-result-list ul li .name .operation .btn.add {
  background: url('../images/iconall_sprite.png') no-repeat;
  background-position: 0 -700px;
}

.search-result-list ul li .name .operation .btn.add:hover {
  background-position: -22px -700px;
}

.search-result-list ul li .name .operation .btn.favor {
  background-position: 0 -174px;
}

.search-result-list ul li .name .operation .btn.favor:hover {
  background-position: -20px -174px;
}
.search-result-list ul li .name .operation .btn.toMusicList {
  background: url('../images/addlist.png') no-repeat;
  background-size: cover;
}

.search-result-list ul li .name .operation .btn.toMusicList:hover {
  background: url('../images/addlist_black.png') no-repeat;
  background-size: cover;
}
.search-result-list ul li .name .operation .btn.share {

  background-position: 0 -195px;
  ;
}

.search-result-list ul li .name .operation .btn.share:hover {
  background-position: -20px -195px;
}

.search-result-list ul li .name .operation .btn.download {

  background-position: -81px -174px;
}

.search-result-list ul li .name .operation .btn.download:hover {
  background-position: -104px -174px;
}

.search-result-list ul li .detail {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.win_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: pink;
}
.win_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1e1d1d;
 display: none;
}
.win_box .win_nav{
  width: 100%;
  height: 40px;
  background-color: black;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
}
.win_box .win_nav p{
  margin-left: 10px;
}
.win_box .win_nav a{
  width: 15px;
  height: 15px;
  background-image: url('../images/close.png');
  background-size: cover;
  margin-right: 10px;
}
.musicList_list li {
  width: 100%;
  height: 65px;
}
.musicList_list  .item_info{
  display: flex;
  width: auto;
  height: 50px;
  line-height: 50px;
}
.musicList_list  .item_info{
  display: flex;
}
.musicList_list .item_info .num{
  opacity: 0;
}
.musicList_list .item_info .pic {
  display: none;
}
hr{
    margin: 5px;
}
.musicList_list{
    width: 100%;
}

.musicList_list li{
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
    position: relative;
}
.musicList_list li:hover{
    background-color: #e0dfdf;
}


.musicList_list li .item_pic img{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 20px;
    margin-right: 20px;
}

