@font-face {
  font-family: "iconfont";
  /* Project id 3172555 */
  src: url('//at.alicdn.com/t/font_3172555_a0penuv1rwh.woff2?t=1644379067651') format('woff2'),
    url('//at.alicdn.com/t/font_3172555_a0penuv1rwh.woff?t=1644379067651') format('woff'),
    url('//at.alicdn.com/t/font_3172555_a0penuv1rwh.ttf?t=1644379067651') format('truetype');
}

@font-face {
  font-family: 'iconfont';
  /* Project id 4766180 */
  src: url('//at.alicdn.com/t/c/font_4766180_y6sfwacfkvi.woff2?t=1733042650160') format('woff2'),
    url('//at.alicdn.com/t/c/font_4766180_y6sfwacfkvi.woff?t=1733042650160') format('woff'),
    url('//at.alicdn.com/t/c/font_4766180_y6sfwacfkvi.ttf?t=1733042650160') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volumeDisable:before {
  content: "\ea0f";
}

.icon-volumeMiddle:before {
  content: "\ea11";
}

.icon-shangyishou:before {
  content: "\e61e";
}

.icon-xiayishou:before {
  content: "\e61f";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-list:before {
  content: "\e671";
}